<div id="experience" class="section w-full max-w-3xl mx-auto">
    <h2
        class="text-3xl font-bold mb-8 text-center text-slate-900 dark:text-white"
    >
        Experience
    </h2>
    <!-- Vertical Timeline #1 -->
    <div class="-my-6">
        <!-- Software Developer Intern -->
        <div class="relative pl-8 sm:pl-40 py-6 group">
            <!-- Purple label -->
            <div
                class="text-slate-900 dark:text-white font-semibold mb-3 text-2xl sm:mb-0"
            >
                Software Developer Intern
            </div>
            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
            <div
                class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[8rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[8rem] after:-translate-x-1/2 after:translate-y-1.5"
            >
                <time
                    class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-bold uppercase w-32 h-6 mb-3 sm:mb-0 text-white/90 bg-gradient-to-tl from-[#ff6ec4] to-[#7873f5] rounded-full"
                    >Jul, 24 - Present</time
                >
                <div
                    class="text-xl font-semibold text-slate-900 dark:text-gray-500"
                >
                    Amref Health Africa
                </div>
            </div>
            <!-- Content -->
            <div class="text-slate-500">
                <ul class="list-disc list-inside">
                    <li>
                        Contributing to backend and frontend development,
                        ensuring scalability and usability for healthcare
                        systems.
                    </li>
                </ul>
            </div>
        </div>

        <!-- Swap Space -->
        <div class="relative pl-8 sm:pl-40 py-6 group">
            <!-- Purple label -->
            <div
                class="text-slate-900 dark:text-white font-semibold mb-3 text-2xl sm:mb-0"
            >
                React Native Developer
            </div>
            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
            <div
                class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[8rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[8rem] after:-translate-x-1/2 after:translate-y-1.5"
            >
                <time
                    class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-bold uppercase w-32 h-6 mb-3 sm:mb-0 text-white/90 bg-gradient-to-tl from-[#ff6ec4] to-[#7873f5] rounded-full"
                    >Nov, 24 - Present</time
                >
                <div
                    class="text-xl font-semibold text-slate-900 dark:text-gray-500"
                >
                    Swap Space
                </div>
            </div>
            <!-- Content -->
            <div class="text-slate-500">
                <ul class="list-disc list-inside">
                    <li>
                        Developing a feature-rich mobile application for the
                        real estate sector using React Native.
                    </li>
                    <!-- <li>
                        Developed a feature-rich mobile application for the real
                        estate sector using React Native, enabling users to
                        browse, list, and manage properties seamlessly.
                    </li> -->
                    <!-- <li>
                        Implemented dynamic user interfaces and integrated APIs
                        for property listings, location-based searches, and
                        real-time updates.
                    </li>
                    <li>
                        Collaborated with cross-functional teams to ensure a
                        responsive and intuitive user experience, optimizing
                        performance for various devices.
                    </li> -->
                </ul>
            </div>
        </div>

        <!-- Hubblemind.AI -->
        <div class="relative pl-8 sm:pl-40 py-6 group">
            <!-- Purple label -->
            <div
                class="text-slate-900 dark:text-white font-semibold mb-3 text-2xl sm:mb-0"
            >
                Machine Learning Intern
            </div>
            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
            <div
                class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[8rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[8rem] after:-translate-x-1/2 after:translate-y-1.5"
            >
                <time
                    class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-bold uppercase w-32 h-6 mb-3 sm:mb-0 text-white/90 bg-gradient-to-tl from-[#ff6ec4] to-[#7873f5] rounded-full"
                    >Nov, 24 - Dec, 24</time
                >
                <div
                    class="text-xl font-semibold text-slate-900 dark:text-gray-500"
                >
                    Hubblemind.AI
                </div>
            </div>
            <!-- Content -->
            <div class="text-slate-500">
                <ul class="list-disc list-inside">
                    <li>
                        Developed machine learning models to gauge employee
                        productivity through data preprocessing, feature
                        engineering, and predictive modeling.
                    </li>
                </ul>
            </div>
        </div>

        <!-- Klatch Technologies -->
        <div class="relative pl-8 sm:pl-40 py-6 group">
            <!-- Purple label -->
            <div
                class="text-slate-900 dark:text-white font-semibold mb-3 text-2xl sm:mb-0"
            >
                AI Image Annotator Trainee
            </div>
            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
            <div
                class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[8rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[8rem] after:-translate-x-1/2 after:translate-y-1.5"
            >
                <time
                    class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-bold uppercase w-32 h-6 mb-3 sm:mb-0 text-white/90 bg-gradient-to-tl from-[#ff6ec4] to-[#7873f5] rounded-full"
                    >Nov, 24</time
                >
                <div
                    class="text-xl font-semibold text-slate-900 dark:text-gray-500"
                >
                    Klatch Technologies
                </div>
            </div>
            <!-- Content -->
            <div class="text-slate-500">
                <ul class="list-disc list-inside">
                    <li>
                        Annotated images based on organization demands and
                        client specifications, contributing to AI training
                        datasets.
                    </li>
                </ul>
            </div>
        </div>

        <!-- Gulf African Bank -->
        <div class="relative pl-8 sm:pl-40 py-6 group">
            <!-- Purple label -->
            <div
                class="text-slate-900 dark:text-white font-semibold mb-3 text-2xl sm:mb-0"
            >
                IT Intern
            </div>
            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
            <div
                class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[8rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[8rem] after:-translate-x-1/2 after:translate-y-1.5"
            >
                <time
                    class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-bold uppercase w-32 h-6 mb-3 sm:mb-0 text-white/90 bg-gradient-to-tl from-[#ff6ec4] to-[#7873f5] rounded-full"
                    >April, 24 - Sep, 24</time
                >
                <div
                    class="text-xl font-semibold text-slate-900 dark:text-gray-500"
                >
                    Gulf African Bank
                </div>
            </div>
            <!-- Content -->
            <div class="text-slate-500">
                <ul class="list-disc list-inside">
                    <li>
                        Documented and organized IT procedures for improved
                        knowledge sharing within the organization.
                    </li>
                    <li>
                        Provided first-contact resolution for the majority of
                        technical issues raised by staff.
                    </li>
                    <li>
                        Assisted in setting up and configuring hardware and
                        software for new and existing employees.
                    </li>
                </ul>
            </div>
        </div>

        <!-- Mobalytics Remote Extern -->
        <div class="relative pl-8 sm:pl-40 py-6 group">
            <!-- Purple label -->
            <div
                class="text-slate-900 dark:text-white font-semibold mb-3 text-2xl sm:mb-0"
            >
                Mobalytics Remote Extern
            </div>
            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
            <div
                class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[8rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[8rem] after:-translate-x-1/2 after:translate-y-1.5"
            >
                <time
                    class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-bold uppercase w-32 h-6 mb-3 sm:mb-0 text-white/90 bg-gradient-to-tl from-[#ff6ec4] to-[#7873f5] rounded-full"
                    >May, 24 - Aug, 24</time
                >
                <div
                    class="text-xl font-semibold text-slate-900 dark:text-gray-500"
                >
                    Mobalytics
                </div>
            </div>
            <!-- Content -->
            <div class="text-slate-500">
                <ul class="list-disc list-inside">
                    <li>
                        Conducted comprehensive research on gaming genres,
                        focusing on game mechanisms, KPIs, revenue models, and
                        player psychology.
                    </li>
                    <li>
                        Developed insights and delivered presentations
                        recommending market expansion opportunities.
                    </li>
                    <li>
                        Collaborated with cross-functional teams, building
                        strong communication, critical thinking, and analytical
                        skills.
                    </li>
                </ul>
            </div>
        </div>

        <!-- Webacy Remote Externship -->
        <div class="relative pl-8 sm:pl-40 py-6 group">
            <!-- Purple label -->
            <div
                class="text-slate-900 dark:text-white font-semibold mb-3 text-2xl sm:mb-0"
            >
                Webacy Remote Externship
            </div>
            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
            <div
                class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[8rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[8rem] after:-translate-x-1/2 after:translate-y-1.5"
            >
                <time
                    class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-bold uppercase w-32 h-6 mb-3 sm:mb-0 text-white/90 bg-gradient-to-tl from-[#ff6ec4] to-[#7873f5] rounded-full"
                    >Apr, 24 - May, 24</time
                >
                <div
                    class="text-xl font-semibold text-slate-900 dark:text-gray-500"
                >
                    Webacy Inc. Remote Extern
                </div>
            </div>
            <!-- Content -->
            <div class="text-slate-500">
                <ul class="list-disc list-inside">
                    <li>
                        Conducted extensive research on the latest blockchain
                        technologies and Web3 security challenges, enhancing the
                        organization's understanding of the evolving landscape.
                    </li>
                    <li>
                        Analyzed non-mainstream competitors in the Web3 security
                        sector, providing critical insights that influenced
                        strategic decisions.
                    </li>
                    <li>
                        Compiled research findings into a detailed market map
                        and feature report, contributing to strategic planning.
                    </li>
                    <li>
                        Collaborated with team members remotely, developing
                        strong communication and teamwork skills while managing
                        multiple priorities and projects efficiently.
                    </li>
                </ul>
            </div>
        </div>

        <!-- IT Consultant -->
        <div class="relative pl-8 sm:pl-40 py-6 group">
            <!-- Purple label -->
            <div
                class="text-slate-900 dark:text-white font-semibold mb-3 text-2xl sm:mb-0"
            >
                IT Consultant
            </div>
            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
            <div
                class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[8rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[8rem] after:-translate-x-1/2 after:translate-y-1.5"
            >
                <time
                    class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-bold uppercase w-32 h-6 mb-3 sm:mb-0 text-white/90 bg-gradient-to-tl from-[#ff6ec4] to-[#7873f5] rounded-full"
                    >Jan, 23 - Present</time
                >
                <div
                    class="text-xl font-semibold text-slate-900 dark:text-gray-500"
                >
                    The Crestville Schools
                </div>
            </div>
            <!-- Content -->
            <div class="text-slate-500">
                <ul class="list-disc list-inside">
                    <li>
                        Provided essential IT services and support across a
                        variety of digital tools and systems, helping staff and
                        students optimize their daily activities.
                    </li>
                    <li>
                        Implemented a new software solution to streamline
                        administrative tasks, improving operational efficiency
                        by 40%.
                    </li>
                    <li>
                        Conducted training sessions for teachers and staff,
                        ensuring smooth adoption of new systems and processes.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
