<div id="experience" class="w-full max-w-3xl mx-auto">
    <h2 class="text-3xl font-bold mb-8 text-center text-black dark:text-white">
        Experience
    </h2>
    <!-- Vertical Timeline #1 -->
    <div class="-my-6">
        <!-- Item #1: Webacy Remote Externship -->
        <div class="relative pl-8 sm:pl-40 py-6 group">
            <!-- Purple label -->
            <div
                class="font-caveat font-medium bg-gradient-to-r from-teal-500 via-purple-500 to-orange-500 bg-clip-text text-transparent mb-4 text-2xl mb-1 sm:mb-0"
            >
                Webacy Remote Externship
            </div>
            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
            <div
                class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[8rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[8rem] after:-translate-x-1/2 after:translate-y-1.5"
            >
                <time
                    class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-32 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full"
                    >Apr, 24 - May, 24</time
                >
                <div
                    class="text-xl font-bold text-slate-900 dark:text-gray-500"
                >
                    Webacy Inc. Remote Extern
                </div>
            </div>
            <!-- Content -->
            <div class="text-slate-500">
                <ul class="list-disc list-inside">
                    <li>
                        Conducted extensive research on the latest blockchain
                        technologies and Web3 security challenges, enhancing the
                        organization's understanding of the evolving landscape.
                    </li>
                    <li>
                        Analyzed non-mainstream competitors in the Web3 security
                        sector, providing critical insights that influenced
                        strategic decisions.
                    </li>
                    <li>
                        Compiled research findings into a detailed market map
                        and feature report, contributing to strategic planning.
                    </li>
                    <li>
                        Collaborated with team members remotely, developing
                        strong communication and teamwork skills while managing
                        multiple priorities and projects efficiently.
                    </li>
                </ul>
            </div>
        </div>

        <!-- Item #2: Freelance Developer -->
        <div class="relative pl-8 sm:pl-40 py-6 group">
            <!-- Purple label -->
            <div
                class="font-caveat font-medium bg-gradient-to-r from-teal-500 via-purple-500 to-orange-500 bg-clip-text text-transparent mb-4 text-2xl mb-1 sm:mb-0"
            >
                Freelance Developer
            </div>
            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
            <div
                class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[8rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[8rem] after:-translate-x-1/2 after:translate-y-1.5"
            >
                <time
                    class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-32 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full"
                    >Jan, 23 - Present</time
                >
                <div
                    class="text-xl font-bold text-slate-900 dark:text-gray-500"
                >
                    Freelance
                </div>
            </div>
            <!-- Content -->
            <div class="text-slate-500">
                <ul class="list-disc list-inside">
                    <li>
                        Pioneered the full development lifecycle for a
                        high-impact web application for a local high school,
                        establishing their first online presence.
                    </li>
                    <li>
                        Collaborated with a diverse team to develop and present
                        a dynamic mobile application similar to Uber using React
                        Native.
                    </li>
                </ul>
            </div>
        </div>

        <!-- Item #3: Mobalytics Remote Extern -->
        <div class="relative pl-8 sm:pl-40 py-6 group">
            <!-- Purple label -->
            <div
                class="font-caveat font-medium bg-gradient-to-r from-teal-500 via-purple-500 to-orange-500 bg-clip-text text-transparent mb-4 text-2xl mb-1 sm:mb-0"
            >
                Mobalytics Remote Extern
            </div>
            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
            <div
                class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[8rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[8rem] after:-translate-x-1/2 after:translate-y-1.5"
            >
                <time
                    class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-32 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full"
                    >May, 24 - Aug, 24</time
                >
                <div
                    class="text-xl font-bold text-slate-900 dark:text-gray-500"
                >
                    Mobalytics
                </div>
            </div>
            <!-- Content -->
            <div class="text-slate-500">
                <ul class="list-disc list-inside">
                    <li>
                        Conducted comprehensive research on gaming genres,
                        focusing on game mechanisms, KPIs, revenue models, and
                        player psychology.
                    </li>
                    <li>
                        Developed insights and delivered presentations
                        recommending market expansion opportunities.
                    </li>
                    <li>
                        Collaborated with cross-functional teams, building
                        strong communication, critical thinking, and analytical
                        skills.
                    </li>
                </ul>
            </div>
        </div>

        <!-- Item #4: IT Consultant -->
        <div class="relative pl-8 sm:pl-40 py-6 group">
            <!-- Purple label -->
            <div
                class="font-caveat font-medium bg-gradient-to-r from-teal-500 via-purple-500 to-orange-500 bg-clip-text text-transparent mb-4 text-2xl mb-1 sm:mb-0"
            >
                IT Consultant
            </div>
            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
            <div
                class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[8rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[8rem] after:-translate-x-1/2 after:translate-y-1.5"
            >
                <time
                    class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-32 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full"
                    >Jan, 23 - Present</time
                >
                <div
                    class="text-xl font-bold text-slate-900 dark:text-gray-500"
                >
                    The Crestville Schools
                </div>
            </div>
            <!-- Content -->
            <div class="text-slate-500">
                <ul class="list-disc list-inside">
                    <li>
                        Provided essential IT services and support across a
                        variety of digital tools and systems, helping staff and
                        students optimize their daily activities.
                    </li>
                    <li>
                        Implemented a new software solution to streamline
                        administrative tasks, improving operational efficiency
                        by 40%.
                    </li>
                    <li>
                        Conducted training sessions for teachers and staff,
                        ensuring smooth adoption of new systems and processes.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
