<div
    class="section flex justify-center items-center dark:text-white bg-cover bg-center bg-[url('../static/assets/footer_imgs/footer-background.jpg')] h-44"
    aria-label="Breadcrumb"
>
    <ol
        class="inline-flex items-center space-x-1 md:space-x-3 bg-gradient-to-l from-gray-800 to-zinc-900 skew-y-6 py-6 px-12"
    >
        <li class="-skew-y-6">
            <div class="flex row items-center">
                <a
                    href="/"
                    class="hover:text-gray-400 mx-2 ml-1 text-base font-medium text-white md:ml-2"
                >
                    Home
                </a>
                <svg
                    class="mx-1 w-1 h-5"
                    viewBox="0 0 5 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M4.12561 1.13672L0.999943 18.8633"
                        stroke="#E5E7EB"
                        stroke-width="1.6"
                        stroke-linecap="round"
                    />
                </svg>
                <a class="ml-1 text-base font-medium text-white md:ml-2">
                    Resume</a
                >
            </div>
        </li>
    </ol>
</div>
