<script>
    /** @type {import('tailwindcss').Config} */
    tailwind.config = {
        darkMode: 'class', // Enable dark mode via class
        theme: {
            extend: {
                colors: {
                    customPink: '#ff6ec4',
                    customPurple: '#7873f5',
                    dark: {
                        background: '#000000', // Black background for dark mode
                        text: '#ffffff', // White text for dark mode
                    },
                },
            },
        },
    };
</script>
