<footer class="section bg-white shadow dark:bg-gray-800">
    <!-- Background image -->
    <div
        class="bg-cover bg-center bg-[url('../static/assets/footer_imgs/footer-background.webp')]"
    >
        <div
            class="mb-4 border-b border-gray-200 dark:border-gray-700 flex justify-center"
        ></div>
        <div
            class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-start md:justify-between sm:mb-4 space-y-4 md:space-y-0"
        >
            <!-- All Rights Reserved Section -->
            <span
                class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
                >&copy <span class="footer-year-text">2024</span>
                <a href="https://flowbite.com/" class="hover:underline">JON</a>.
                All Rights Reserved.</span
            >

            <!-- Resume Column -->
            <a
                href="/resume/download"
                class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 duration-300 hover:scale-105 hover:shadow-xl"
            >
                <div class="flex space-x-1 items-center">
                    <i
                        class="fa-regular fa-file-pdf"
                        style="color: red"
                        aria-hidden="true"
                    ></i>
                    <h5
                        class="mb-2 font-bold tracking-tight text-gray-900 dark:text-white"
                    >
                        Resume
                    </h5>
                </div>
                <p class="font-normal text-gray-700 dark:text-gray-400">
                    Click to download my resume.
                </p>
            </a>
        </div>

        <!-- Social Media Links -->
        <ul
            class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:space-x-5 text-sm text-gray-500 sm:text-center dark:text-gray-400 flex"
        >
            <li
                class="duration-200 hover:scale-105 hover:shadow-xl hover:text-white backdrop-contrast-200"
            >
                <a
                    href="mailto:jjNgugi27@gmail.com"
                    target="_blank"
                    class="duration-300"
                >
                    <i class="fa-solid fa-envelope"></i
                    ><span class="p-2">Mail</span>
                </a>
            </li>
            <li
                class="duration-200 hover:scale-105 hover:shadow-xl hover:text-white backdrop-contrast-200"
            >
                <a href="https://github.com/johnombuya" target="_blank">
                    <i class="fa-brands fa-github"></i
                    ><span class="p-2">GitHub</span>
                </a>
            </li>
            <li
                class="duration-200 hover:scale-105 hover:shadow-xl hover:text-white backdrop-contrast-200"
            >
                <a
                    href="https://www.linkedin.com/in/john-ombuya"
                    target="_blank"
                >
                    <i class="fa-brands fa-linkedin-in"></i
                    ><span class="p-2">LinkedIn</span>
                </a>
            </li>
        </ul>
    </div>
    <script>
        // Create function to update year
        function updateYear() {
            // Set current year in footer section
            const footerYearElement =
                document.querySelector('.footer-year-text');
            footerYearElement.textContent = new Date().getFullYear();
        }

        // Call function when DOM is loaded
        document.addEventListener('DOMContentLoaded', updateYear);
    </script>
</footer>
