<link rel="stylesheet" href="static\css\styles.css" />

<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Pages</h3>
                    <ul>
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>My Resume</h3>
                    <a class="btn btn-dark" href="/download"
                        ><i
                            class="fa-regular fa-file-pdf"
                            style="color: red"
                            aria-hidden="true"
                        ></i>
                        Download</a
                    >
                </div>
                <div class="col item social">
                    <a href="mailto:jjNgugi27@gmail.com" target="_blank"
                        ><i class="fa-solid fa-envelope"></i></a
                    ><a href="https://github.com/wxllxngton" target="_blank"
                        ><i class="fa-brands fa-github"></i></a
                    ><a
                        href="https://www.linkedin.com/in/john-ombuya-b2798a22b"
                        target="_blank"
                        ><i class="fa-brands fa-linkedin-in"></i
                    ></a>
                </div>
            </div>
            <p class="copyright">Company Name © 2018</p>
        </div>
    </footer>
</div>

<script src="../static/js/footer.js"></script>
