<header
    class="fixed top-0 left-0 right-0 z-50 bg-background/80 backdrop-blur-md dark:bg-gray-900/80 transition-all duration-700 ease-in-out"
>
    <nav class="container mx-auto px-4 py-4 flex justify-between items-center">
        <div class="flex row justify-center">
            <!-- <img
                    src="{{ url_for('static', filename='assets/favicon.ico') }}"
                    class="favicon-nav"
                    alt="Logo"
                />
                <a href="#" class="text-2xl font-bold">mbuya</a> -->
            <p class="justify-center my-auto mx-auto text-5xl">J</p>
            <div>
                <p>Ombuya</p>
                <p>Ngugi</p>
            </div>
        </div>

        <div class="flex items-center space-x-4">
            <a
                href="#about"
                class="hover:text-primary transition-colors duration-300 hover:scale-105 hover:shadow-xl"
                >About</a
            >
            <a
                href="#skills"
                class="hover:text-primary transition-colors duration-300 hover:scale-105 hover:shadow-xl"
                >Skills</a
            >
            <a
                href="#portfolio"
                class="hover:text-primary transition-colors duration-300 hover:scale-105 hover:shadow-xl"
                >Portfolio</a
            >
            <button
                onClick="toggleDarkMode()"
                class="p-2 rounded focus:outline-none hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors duration-300 hover:scale-105 hover:shadow-xl"
            >
                <span id="dark-mode-icon"></span>
            </button>
        </div>
    </nav>
</header>
