<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <!-- Favicon -->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="{{ url_for('static', filename='assets/favicon_io/apple-touch-icon.png') }}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{{ url_for('static', filename='assets/favicon_i
            /favicon_io/favicon-32x32.png') }}/"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="{{ url_for('static', filename='assets/favicon_io/favicon-16x16.png') }}"
        />
        <link rel="manifest" href="/site.webmanifest" />

        <!-- Title -->
        <title>John Ombuya's Portfolio</title>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=DM+Sans:ital,opsz@1,9..40&family=Montserrat&display=swap"
            rel="stylesheet"
        />

        <!-- Font Awesome -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        />

        <!-- Custom CSS Styles -->
        {% assets "main_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}

        <!-- Swiper CSS and JS Files -->
        <link
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
            rel="stylesheet"
        />
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
        ></script>

        <!-- TailwindCSS CDN -->
        <script src="https://cdn.tailwindcss.com"></script>

        <!-- Custom JavaScript -->
        {% assets "main_js" %}
        <script defer type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        <!-- Viewer js -->
        <!-- <script
            src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.6/viewer.min.js"
            integrity="sha512-EC3CQ+2OkM+ZKsM1dbFAB6OGEPKRxi6EDRnZW9ys8LghQRAq6cXPUgXCCujmDrXdodGXX9bqaaCRtwj4h4wgSQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script> -->

        <!-- Tailwind Config js -->
        {% include "partials/tailwind-config-script.html" %}
    </head>

    <body>
        <!-- Loader Div -->
        <div id="loader" class="loader">
            <img
                src="{{ url_for('static', filename='assets/loader.gif') }}"
                alt="Loading..."
                class="loader-img"
            />
        </div>

        <!-- Main content -->
        <div
            id="main-content"
            class="main-content min-h-screen"
            style="display: none"
        >
            <div
                class="bg-background text-foreground transition-colors duration-300 dark:bg-gray-800 dark:text-white"
            >
                <!-- Header start -->
                {% include "header.html" %}
                <!-- Header end -->

                <div class="container mx-auto px-4 pt-24">
                    <!-- Intro start -->
                    <!-- Background image -->
                    <div
                        class="bg-cover bg-center bg-[url('../static/assets/introduction_imgs/introduction-background.webp')]"
                    >
                        {% include "introduction.html" %}
                    </div>
                    <!-- Intro end -->

                    <!-- About me start -->
                    {% include "about.html" %}
                    <!-- About me end -->

                    <!-- Skills & Interests start -->
                    {% include "skills.html" %}
                    <!-- Skills & Interests end -->

                    <!-- Portfolio start -->
                    {% include "portfolio.html" %}
                    <!-- Portfolio end -->
                </div>
                <!--HTML CODE-->
            </div>
            <!-- Footer start -->
            {% include "footer.html" %}
            <!-- Footer end -->
        </div>
    </body>
</html>
