<section id="skills" class="py-20">
    <h2 class="text-3xl font-bold mb-8 text-center">Skills & Interests</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div
            class="block hover:bg-gradient-to-r from-gray-800 to-zinc-900 shadow-md duration-300 hover:scale-105 hover:shadow-xl max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 hover:text-white"
        >
            <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
                Web Development
            </h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">
                Proficient in HTML, CSS, and JavaScript. Experience with modern
                frameworks and libraries.
            </p>
        </div>
        <div
            class="block hover:bg-gradient-to-r from-gray-800 to-zinc-900 shadow-md duration-300 hover:scale-105 hover:shadow-xl max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
        >
            <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
                Programming Languages
            </h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">
                Skilled in Python, Java, C++, and C. Always eager to learn new
                languages and paradigms.
            </p>
        </div>

        <div
            class="block hover:bg-gradient-to-r from-gray-800 to-zinc-900 shadow-md duration-300 hover:scale-105 hover:shadow-xl max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
        >
            <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
                Game Development
            </h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">
                Passionate about creating interactive experiences. Familiar with
                game development principles.
            </p>
        </div>

        <div
            class="block hover:bg-gradient-to-r from-gray-800 to-zinc-900 shadow-md duration-300 hover:scale-105 hover:shadow-xl max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
        >
            <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
                Photography
            </h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">
                Enjoy capturing moments and exploring visual storytelling
                through photography.
            </p>
        </div>

        <div
            class="block hover:bg-gradient-to-r from-gray-800 to-zinc-900 shadow-md duration-300 hover:scale-105 hover:shadow-xl max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 hover:text-white"
        >
            <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
                Problem Solving
            </h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">
                Strong analytical skills and ability to tackle complex
                challenges with creative solutions.
            </p>
        </div>

        <div
            class="block hover:bg-gradient-to-r from-gray-800 to-zinc-900 shadow-md duration-300 hover:scale-105 hover:shadow-xl max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
        >
            <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
                Continuous Learning
            </h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">
                Committed to staying up-to-date with the latest technologies and
                industry trends.
            </p>
        </div>
    </div>
</section>
